body{
    margin-top: 152px !important;
    background-color: #f5f5f5 !important;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.btn-block {
    display: block;
    width: 100%;
}
.form-control{
    height: 45px;
    margin-top:-25px;
}
#inputEmail{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
#inputPassword {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-bottom: 10px;
}
.checkbox{
    line-height: 32px;
}
.h3{
    font-weight: 400 !important;
}